{% extends "auth/baseHeader.html" %}
{% block contenido %}

<div class="contentUsuario">
    <div>
        <div id="tituloUser">
            <p>Bienvenido {{user.first_name}}</p>
            <p id="subtituloUser">Tus entradas:</p>
        </div>
        <div>
                {% for entrada in entradas %}
                  
                        <div id="listarPelicula">
                            <div id="divListarImg">
                                <img src="{{ pelicula_por_entrada.0.imagen.url }}" alt="">
                            </div>
                            <div id="divListarDatos">
                                <p id="nombrePelicula">{{ pelicula_por_entrada.0 }}</p>
                                <p id="kmPelicula">{{ funcion_por_entrada.0.fecha }} - {{ funcion_por_entrada.0.fechaInicio|time }}</p>
                                <p id="kmPelicula">{{ sala_por_entrada.0.nombre }}</p>
                                <p id="kmPelicula"> Butacas:
                                    {% for butaca in butacas_por_entrada.0 %}
                                        {{ butaca.numero }}
                                        {% if not forloop.last %}
                                        ,
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <p id="precioPelicula">Total: {{ entrada.precio }} €</p>
                            </div>
                        </div>
                  
                {% empty %}
                    <li>No se encontraron entradas asignadas.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}