{% extends "principal/baseHeader.html" %}

{% load static %}

{% block contenido %}
    <div class="container cuerpo" style="margin-top: 5rem;">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img src="/media/{{ pelicula.imagen }}" alt="{{ p.titulo }}" class="card-img w-100 h-100" >
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color:black">{{pelicula.titulo}}</h5>
                        <p class="card-text" style="color:black"><u>Sinopsis:</u> {{pelicula.sinopsis}}</p>
                        <ul class="list-group">
                            <li class="list-group-item">Director: {{pelicula.director}}</li>
                            <li class="list-group-item">Género: {{pelicula.genero}}</li>
                            <li class="list-group-item">Duración: {{pelicula.duracion}}</li>
                            <li class="list-group-item">Fecha de estreno: {{pelicula.fechaLanzamiento}}</li>
                            <li class="list-group-item">Calificación de edades: {{pelicula.clasificacionEdad}}</li>
                            <li class="list-group-item">Valoración media: {{pelicula.valoracion}}</li>
                        </ul>
                    </div>
                    <div class="divFunciones">
                        <div>
                        {% regroup funciones by fechaInicio.date as funciones_by_fecha %}

                        {% for fecha, funciones in funciones_by_fecha %}
                        <h5>{{fecha}}:</h5>
                            <ul>
                                {% for funcion in funciones %}
                                    <li>{{ funcion.fechaInicio|time  }} - {{ funcion.fechaFin|time  }}</li>
                                    <!-- Mostrar otros detalles de la función aquí -->
                                {% endfor %}
                            </ul>

                        {% endfor %}
                        </div>
                    </div>
                    {% if pelicula.disponible != 0 %}
                        <div class="btn-volver">
                            <a href="{% url 'listado' %}" class="btn btn-success float-end"><i class="fas fa-arrow-left"></i>
                                Comprar entradas</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="btn-volver">
                <a href="{% url 'listado' %}" class="btn btn-dark float-end"><i class="fas fa-arrow-left"></i>
                    Volver</a>
            </div>
        </div>
    </div>

{% endblock %}