/* --GENERAL-- */
body {
  background-color: #00081d;
  /* rgb(4, 32, 68); */
  color: white;
  font-weight: bold;
}


.main-content {
  margin-top: 120px;
}


a {
  text-decoration: none;
  color: black;
}


a:hover {
  color: rgb(40, 38, 38);
}


/* --MENU-- */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.titulo {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.titulo a {
  color: white;

}

#tituloPrincipal{
  font-size: 28px;
}


.formBusqueda {
  height: 20px;
  display: inline-block;
}


#divCuentas a{
  width: fit-content;
  padding-right: 50px;
}

.divForm{
  margin-right: 50px;
}

#barraBusqueda {
  visibility: inherit;
  box-sizing: inherit;
  font-family: Wallie, Helvetica;
  appearance: none;
  outline: 0;
  font-size: 1rem;
  height: calc(17px * 2);
  border-radius: 21px;
  background-color: white;
  border: 1px solid #00081d;
  position: relative;
  color: #00081d;
  padding-left: 44px;
  width: 200px;
  text-overflow: ellipsis;

}

.lupaBusqueda {
  margin-left: -20px;
  margin-right: -30px;
  z-index: 11;
  opacity: 0.7;
}


.searchContainer {
  display: flex;
  align-items: center;
}


/* --CONTENIDO-- */
#peliculas,
#noticias,
#destacadas {
  padding-top: 7%;
  padding-bottom: 2%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-align: center;
}


/* 2.1Noticias */
#carouselExampleIndicators {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}


.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 2.2Destacados */
.card-img-top-desc {
  width: 200px;
  height: 300px;
  text-align: center;
}


/* 2.3Catálogo */
.col-md-3 {
  margin-top: 10px;
}


.card-catalogo {
  color: black;
  font-weight: bold;
  text-align: center;
}


.linkTrailer {
  width: fit-content;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -25px;
  z-index: 3;
}

.divTrailer {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -25px;
  z-index: 3;
  transition: background-color 0.5s;
}

.image-container {
  position: relative;
  z-index: 0;
  width: 100%;
}

.tituloPelicula {
  font-family: Machine, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -20px;
  left: -15px;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);

  z-index: 1;
}

.imgPelicula {
  width: 100%;
}

.imgPeliculaPrincipal {
  width: 200px;
  height: 300px;
}

.contPeliculaPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* Si deseas que los elementos estén apilados verticalmente */
}

.tituloPeliculaPrincipal {
  font-family: Machine, Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  position: relative;
}

.linkTrailerPrincipal {
  width: fit-content;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -25px;
  margin-left: -150px;
  z-index: 3;
}

.divTrailer:hover {
  background-color: lightblue;
}



/* --PIE-- */




.divCuentas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%);

  z-index: 100;
  background: rgba(0, 8, 29, 1);
  padding: 40px;
  width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 10px rgba(15, 28, 59, 0.9);
  visibility: hidden;
}

.custom-tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.custom-tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.custom-tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.custom-tab-group li a:hover {
  background: #0d8b6e;
  color: #ffffff;
}

.custom-tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.custom-tab-content>div:last-child {
  display: none;
}

.divCuentas h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

.divCuentas label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}

.divCuentas label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

.divCuentas label.active .req {
  opacity: 0;
}

.divCuentas label.highlight {
  color: #ffffff;
}

.divCuentas input,
.divCuentas textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

.divCuentas input:focus,
.divCuentas textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.divCuentas textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.divCuentas .field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.divCuentas .top-row:after {
  content: "";
  display: table;
  clear: both;
}

.divCuentas .top-row>div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.divCuentas .top-row>div:last-child {
  margin: 0;
}

.divCuentas .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  transition: all.5s ease;
}

.divCuentas .button:hover,
.divCuentas .button:focus {
  background: #0d8b6e;
}

.divCuentas .button-block {
  display: block;
  width: 100%;
}

.divCuentas .forgot {
  margin-top: -20px;
  text-align: right;
}

.forgot a{
  color: white;
}