<form action="" method="post" data-dashlane-rid="57780b68931c4e15" data-dashlane-captcha="true" data-form-type="register">
    <input type="hidden" name="csrfmiddlewaretoken" value="fRUaJGSFFR8QhiWNFm3iwZkhCgcq9aV16ohr11aTzKyF2A9U8SYcXUVF7Vde2nAn">
    
        <input type="hidden" name="csrfmiddlewaretoken" value="fRUaJGSFFR8QhiWNFm3iwZkhCgcq9aV16ohr11aTzKyF2A9U8SYcXUVF7Vde2nAn">
        <p>
<label for="id_email">Email:</label>
<input type="email" name="email" required="" id="id_email" data-dashlane-rid="782dff1799e95e1d" data-kwimpalastatus="alive" data-kwimpalaid="1685974895644-0" data-form-type="email">


</p>


<p>
<label for="id_username">Username:</label>
<input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" data-dashlane-rid="c1e27e6bbaf60b4e" data-kwimpalastatus="alive" data-kwimpalaid="1685974895644-1" data-form-type="username,new">

  <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>


</p>


<p>
<label for="id_first_name">First name:</label>
<input type="text" name="first_name" maxlength="150" id="id_first_name" data-dashlane-rid="10a2260714cb661b" data-kwimpalastatus="alive" data-kwimpalaid="1685974895644-2" data-form-type="name,first">


</p>


<p>
<label for="id_last_name">Last name:</label>
<input type="text" name="last_name" maxlength="150" id="id_last_name" data-dashlane-rid="fe15f2986d256fa8" data-kwimpalastatus="alive" data-kwimpalaid="1685974895644-3" data-form-type="name,last">


</p>


<p>
<label for="id_password1">Password:</label>
<input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" data-dashlane-rid="a158048a86122bae" data-kwimpalastatus="alive" data-kwimpalaid="1685974895644-4" data-form-type="password,new">

  <span class="helptext"></span></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>


<p></p>


<p>
<label for="id_password2">Password confirmation:</label>
<input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" data-dashlane-rid="ca4a774ea41b715f" data-kwimpalastatus="alive" data-kwimpalaid="1685974895644-5" data-form-type="password,confirmation">

  <span class="helptext">Enter the same password as before, for verification.</span>


  

</p>
        <p><input type="submit" value="Login" data-dashlane-rid="3a0e9364fd089cbd" data-form-type="action"></p>
    </form>