<!DOCTYPE html>

<html lang="es" dir="ltr">
<head>
<title>Escriba la nueva contraseña | Sitio de administración de Django</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    

    <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body>

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">Administración de Django</a></h1>
        </div>
    </div>
    
    <!-- END Header -->
    
    <div class="breadcrumbs">
        <a href="/admin/">Inicio</a>
        &rsaquo; Confirmación de restablecimiento de contraseña
<       /div>

    

    <div class="main" id="main">
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colM">
          
          <h1>Escriba la nueva contraseña</h1>
          
          



<p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="s41C3bHNl0hjdKoksYT9iUzZnW5o4ap1Rtm0kbiKTWapGfJxost3HfpdY9aED6Dn">
<fieldset class="module aligned">
    <input class="hidden" autocomplete="username" value="Usuario4">
    <div class="form-row field-password1">
        
        <label for="id_new_password1">Contraseña nueva:</label>
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
    </div>
    <div class="form-row field-password2">
        
        <label for="id_new_password2">Confirme contraseña:</label>
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
    </div>
    <input type="submit" value="Cambiar mi contraseña">
</fieldset>
</form>




          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>